input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.32) !important;
  transition: background-color 1000s ease-in-out 0s !important;
  box-shadow: inset 0 0 20px 20px rgba(255, 255, 255, 0.04) !important;
}

.p-select,
.p-multiselect {
  background: rgba(255, 255, 255, 0.04) !important;
  border: 0.6px solid rgba(255, 255, 255, 0.08) !important;
}
.p-select-overlay {
  background: #101619 !important;
  border: none !important;
  color: rgba(255, 255, 255, 0.32) !important;
}
.p-select-option {
  color: rgba(255, 255, 255, 0.32) !important;
}
.p-select-option.p-select-option-selected,
.p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus {
  background: rgba(255, 255, 255, 0.04) !important;
}
.p-dialog {
  background: #101619 !important;
  border: none !important;
}
.p-dialog-footer {
  padding: 10px !important;
}

.p-select-label.p-placeholder,
.p-select-label,
.p-inputtext,
.p-datatable-header,
.p-dialog-header,
.p-dialog-content {
  background: rgba(255, 255, 255, 0.04) !important;
  color: rgba(255, 255, 255, 0.32) !important;
}
.p-datatable-header,
.p-datatable-header-cell,
td,
tr,
.p-paginator {
  background: none !important;
  color: rgba(255, 255, 255, 0.32) !important;
}
.p-tree {
  background: none !important;
  color: rgba(255, 255, 255, 0.87) !important;
  b {
    color: rgba(255, 255, 255, 0.87) !important;
  }
}
.p-inputtext:enabled:focus,
.p-inputtext:enabled:hover {
  border-color: rgba(255, 255, 255, 0.32) !important;
}

.form {
  padding: 30px 40px;
  background: #101619;
}
.group_form-control-five {
  display: grid;
  grid-template-columns: 1.1fr 1.1fr 1.1fr 0.6fr 1.1fr;
  grid-template-rows: 0.7fr;
  gap: 10px 10px;
  grid-template-areas: '. . . . .';
}
.group_form-control-five-evenly {
  display: grid;
  grid-template-columns: 1.1fr 1.1fr 1.1fr 1.1fr 1.1fr;
  grid-template-rows: 0.7fr;
  gap: 10px 10px;
  grid-template-areas: '. . . . .';
  color: #2ecc71 89%;
}
.group_form-control-four {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.5fr;
  gap: 10px 10px;
  grid-template-areas: '. . . .';
}
.group_form-control-tree {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.5fr;
  gap: 10px 10px;
  grid-template-areas: '. . .';
}
.group_form-control-two {
  display: grid;
  width: 100%;
  height: 100%;
  grid-auto-flow: row dense;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr;
  gap: 10px 10px;
  grid-template-areas: '. . ';
}
.form-control {
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: rgba(255, 255, 255, 0.32) !important;
  display: block;
  margin-bottom: 5px;
}

.form-control input,
.form-control select,
.form-control textarea {
  border: 0.6px solid rgba(255, 255, 255, 0.08) !important;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.32);
  &:hover {
    border-color: rgba(255, 255, 255, 0.32) !important;
  }
}
::placeholder {
  /* Most modern browsers support this now. */
  color: rgba(255, 255, 255, 0.32) !important;
  // font-family: 'monrope' !important;
}

.form-control input:focus,
.form-control select:focus,
.form-control textarea:focus {
  outline: 0;
  border-color: rgba(255, 255, 255, 0.32) !important;
}

.form-control.success input {
  // border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
}

.made-with {
  background: #fd264f;
  color: #fff;
  display: block;
  font-size: 12px;
  line-height: 1em;
  margin: 0;
  padding: 5px 110px;
  position: fixed;
  top: 20px;
  right: -100px;
  text-align: center;
  text-decoration: none;
  transform: rotate(45deg);
}

.saveButton {
  background: #178fff !important;
  background: linear-gradient(
    45deg,
    rgba(23, 143, 255, 1) 0%,
    rgba(255, 51, 228, 1) 100%
  ) !important;
  min-height: 42px;
  min-width: 180px;
  border-radius: 16px;
  margin-right: 15px;
  font-size: 15px;
  color: #fff !important;
  border: none !important;
  padding: 0 15px;
}
